:root{
    --main-color : red;
    --body-color:rgb(214, 214, 214);
    --footer-color:black;
    --header-color:white;
    --box-color:white;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: var(--body-color);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    
}

.container{
    width: 90%;
    margin-inline: auto;
}


.border{
    border:5px solid red ;
}

.box-content{
    background-color: var(--box-color);
    border-radius: 5px;
    box-shadow: 6px 8px 5px #979595;
}


