<ul>
    <li>
        <a asp-controller="home" asp-action="index" >
            <i class="fa-solid fa-house"></i>
            الصفحة الرئيسية
        </a>
    </li>
    <li class="dropdown">
        <a href="#"
           role="button"
           data-bs-toggle="collapse"
           data-bs-target="#receiptDropdown"
           aria-expanded="false"
           aria-controls="receiptDropdown">
            <i class="fa-solid fa-receipt"></i>
            الايصال الالكتروني
        </a>
        <ul id="receiptDropdown" class="collapse">
            <li>
                <a asp-controller="receipts" asp-action="new">
                    <i class="fa-solid fa-plus"></i>
                    انشاء
                </a>
            </li>
            <li>
                <a asp-controller="receipts" asp-action="index">
                    <i class="fa-solid fa-folder-open"></i>
                    الايصالات
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-database"></i>
                    الايصالات المحفوظة
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"
           role="button"
           data-bs-toggle="collapse"
           data-bs-target="#invoiceDropdown"
           aria-expanded="false"
           aria-controls="invoiceDropdown">
            <i class="fa-solid fa-file-invoice"></i>
            الفاتورة الالكترونية
        </a>
        <ul id="invoiceDropdown" class="collapse">
            <li>
                <a href="#">
                    <i class="fa-solid fa-plus"></i>
                    انشاء
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-folder-open"></i>
                    عرض
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-database"></i>
                    المستودع
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a asp-controller ="products" asp-action="index">
            <i class="fa-solid fa-cart-shopping"></i>
            السلع والخدمات
        </a>
        
    </li>
</ul>