/* start of landing */

.landing{
    background-color: var(--dark-color);
    height: calc(100vh - 72px);
}

/* end of landing */

/* start of services */
.main-title ::after{
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.services .icon-holder{
    height: 200px;
}

.services .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.services .icon-holder .number{
    height: 12rem;
    color: var(--section-color);
}

.services .icon-holder .icon{
    height: 4rem;
    color: var(--green-color);
}

.services .feat h4{
    color: var(--yellow-color);
}
/* end of services */