main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 1.2rem;




    & .form-data {
        & .first-row {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            flex-wrap: wrap;

            & .group {
                flex-grow: 1;
            }
        }

        & .second-row {
            & .btns {
                text-align: left;

            }
        }

    }

    & .table-area {
        display: flex;
        justify-content: center;

        & table {
            width: 100%;
        }
    }
}