@using Interface.Dto
@model IEnumerable<ErrorResponseDTO>


@foreach(ErrorResponseDTO error in Model)
{
    <div class="card">
        <div class="card-header">
            @error.Error.Code
        </div>
        <div class="card-body">
            @error.Error.Message
        </div>
    </div>
}