

<div class="col ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia non earum beatae laudantium neque. Sequi voluptas laborum inventore, suscipit iusto in quae autem molestias vel, eum ea, nam modi eius?

</div>


@section Scripts{
    <script src="~/js/home.js"></script>
}