<link rel="stylesheet" href="~/css/Home.css">

<div class="main-content container">
    <a asp-action="index" asp-controller="Dashboard" class="box-content">
        <i class="fa-solid fa-receipt"></i>
        <p >Receipt</p>
    </a>
    <a href="#" class="box-content">
        <i class="fa-solid fa-file-invoice"></i>
        <p>Invoice</p>
    </a>
</div>

