@using Interface.ViewModels.ReceiptVM
@model ReceiptVM

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4   box-content " dir="rtl">
    <div id="_test" class="form-group mb-2 ">
        <label class="">رقم الايصال</label>
        <input type="text" asp-for="ReceiptNumber" class="form-control  ">
        <span asp-validation-for="ReceiptNumber" class="text-danger"></span>

    </div>
    <div class="form-group mb-2 ">
        <label>تاريخ</label>
        <input type="datetime-local" class="form-control" asp-for="DateTime">
        <span asp-validation-for="DateTime" class="text-danger"></span>
    </div>
    <div class="form-group mb-2 ">
        <label>اسم الجهة</label>
        <input type="text"  class="form-control" asp-for="IssuedName">
        <span asp-validation-for="IssuedName" class="text-danger"></span>
    </div>
    <div class="form-group mb-2 ">
        <label>رقم الجهة</label>
        <input type="text"  class="form-control" asp-for="IssuedNumber">
        <span asp-validation-for="IssuedNumber" class="text-danger"></span>
    </div>

</div>
<div class="row ">

    <div class="col mt-2 box-content" dir="rtl">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4   ">

            <div class="form-group mb-2">
                <label>اسم المنتج</label>
                <select class="form-control selectpicker" data-live-search="true" id="ProductName">
                </select>
                <span class="text-danger"></span>
            </div>
            <div class=" form-group mb-2 ">
                <label>سعر الوحدة</label>
                <input type="number" id="UnitPrice" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2 ">
                <label>كمية</label>
                <input type="number" id="Quantity" class="form-control  ">
                <span class="text-danger"></span>
            </div>
            <div class=" form-group mb-2 ">
                <label>خصم</label>
                <input type="number" id="Discount" class="form-control  ">
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="  form-group mb-2 ">
                <label>وصف المنتج</label>
                <textarea id="Description" class="form-control"></textarea>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

</div>
<div class="row mt-2 " dir="rtl">
    <div class="box-content col-3">
        <div class="w-100 form-group mb-2">
            <label>نوع الضريبة</label>
            <select id="TaxTypeSelect" class="form-select">
                <option value="0">-- اختر نوع الضريبة --</option>
            </select>
        </div>
        <div class="w-100 form-group mb-2">
            <label>تفاصيل الضريبة</label>
            <select id="SubTaxTypeSelect" class="form-select">
                <option value="0">-- اختر تفاصيل الضريبة --</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label>نسبة الضريبة</label>
            <input id="item_TaxPercent" class="form-control" type="number" />
        </div>
        <div class="form-group mb-2">
            <label>قيمة الضريبة</label>
            <input id="item_TaxAmount" class="form-control" type="number" />
        </div>
        <div class="form-group w-100">
            <button class="form-control btn btn-secondary" onclick="addTax()">اضافة ضريبة</button>
        </div>
    </div>
    <div class="col me-2 box-content " style="height:fit-content">
        <table class="table  table-striped table-responsive">
            <thead>
                <tr>
                    <th>نوع الضريبة</th>
                    <th>تفاصيل الضريبة</th>
                    <th>نسبة</th>
                    <th>قيمة</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="item_TaxTable"></tbody>
        </table>
        
    </div>
    <div class="col-3 box-content me-2 ">
        <div class="form-group">
            <label>الاجمالي بدون خصم و ضريبة</label>
            <input id="item_TotalBefore" class="form-control mb-2" type="number" disabled />
        </div>
        <div class="form-group">
            <label>اجمالي الخصم</label>
            <input id="item_TotalDiscount" class="form-control mb-2" type="number" disabled />
        </div>
        <div class="form-group">
            <label>اجمالي الضريبة</label>
            <input id="item_TotalTax" class="form-control mb-2" type="number" disabled />
        </div>
        <div class="form-group">
            <label>اجمالي بعد الضريبة والخصم</label>
            <input id="item_TotalAfter" class="form-control mb-2" type="number" disabled />
        </div>
        <div class="form-group w-100">
            <button class="form-control btn btn-secondary " onclick="addItem()">اضافة بند للأيصال</button>
        </div>
    </div>

</div>
<div class="row  box-content mt-2" dir="rtl">
    <table class="table  table-striped table-responsive ">
        <thead>
            <tr>
                <th>كود الداخلي</th>
                <th>وصف المنتج</th>
                <th>سعر الوحدة</th>
                <th>كمية</th>
                <th>خصم</th>
                <th>ضريبة</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="itemsTable">
        </tbody>
    </table>
</div>
<div class="row  mt-2 box-content" dir="rtl">
    <div class=" col-3 ">
        <label>الاجمالي بدون خصم و ضريبة</label>
        <input id="receipt_TotalBefore" class="form-control mb-2" type="number" disabled />
    </div>
    <div class=" col-3 ">
        <label>اجمالي الخصم</label>
        <input id="receipt_TotalDiscount" class="form-control mb-2" type="number" disabled />
    </div>
    <div class=" col-3 ">
        <label>اجمالي الضريبة</label>
        <input id="receipt_TotalTax" class="form-control mb-2" type="number" disabled />
    </div>
    <div class=" col-3 ">
        <label>اجمالي بعد الضريبة والخصم</label>
        <input id="receipt_TotalAfter" class="form-control mb-2" type="number" disabled />
    </div>

</div>
