
<link rel="stylesheet" href="~/css/afterUserLogin/slider.css">
<link rel="stylesheet" href="~/css/afterUserLogin/dashboard.css">

<div class="container">

    <partial name="_sliderPartial"></partial>
    <section class="main-content box-content">
        Welcome
    </section>
</div>


@section Scripts{
    <script>
        document.querySelector("#id-Receipt-menu").hidden = false;
        document.querySelector(".slider").childNodes[1].childNodes[3].childNodes[1].classList.add("active");
        
    </script>
}