
<link rel="stylesheet" href="~/css/afterUserLogin/newreceipt.css">



<div class="content container">
    <div class="receipt-header box-content">
        <div class="group">
            <label for="">Receipt Number</label>
            <input type="text">
            <span>error</span>
        </div>
        <div class="group">
            <label for="">Date Time</label>
            <input type="datetime-local">
            <span>error</span>
        </div>
        <div class="group">
            <label for="">Issued Number</label>
            <input type="text">
            <span>error</span>
        </div>
        <div class="group">
            <label for="">Issued Name</label>
            <input type="text">
            <span>error</span>
        </div>
    </div>
    <div class="receipt-items ">
        <div class="left-box">
            <div class="input-fields box-content">
                <div>
                    <div class="group">
                        <label for="">Product Name</label>
                        <input type="text">
                        <span>error</span>
                    </div>

                    <div class="group">
                        <label for="">Quentity</label>
                        <input type="number">
                        <span>error</span>
                    </div>
                    <div class="group">
                        <label for="">Unit Price</label>
                        <input type="number">
                        <span>error</span>
                    </div>

                    <div class="group">
                        <label for="">Discount</label>
                        <input type="number">
                        <span>error</span>
                    </div>

                </div>
                <div>
                    <div class="group">
                        <label for="">Description</label>
                        <textarea type="text"></textarea>
                        <span>error</span>
                    </div>
                </div>
            </div>

            <div class="summary-item box-content">
                <div class="group">
                    <label for="">before Discount</label>
                    <input type="number">
                    <span>error</span>
                </div>
                <div class="group">
                    <label for="">before Tax</label>
                    <input type="number">
                    <span>error</span>
                </div>
                <div class="group">
                    <label for="">Total Amount</label>
                    <input type="number">
                    <span>error</span>
                </div>
            </div>
        </div>
        <div class="right-box box-content">
            <div>
                <div class="group">
                    <label for="">Tax type</label>
                    <select name="" id="">
                        <option value="0">Select tax</option>

                    </select>
                    <span>error</span>
                </div>
                <div class="group">
                    <label for="">Sub Tax type</label>
                    <select name="" id="">
                        <option value="0">Select Sub tax</option>
                    </select>
                    <span>error</span>
                </div>
                <div class="group">
                    <label for="">Precent</label>
                    <input type="number" />
                    <span>error</span>
                </div>
                <button>Add Tax</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Sub Type</th>
                        <th>Rate</th>
                        <th>Ammount</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="receipt-items-table box-content">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Discription</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Tax amount</th>
                    <th>Total before Tax</th>
                    <th>Total after Tax</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
</div>