@using Interface.ViewModels.ReceiptVM
@model ReceiptVM

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">

<div class="col m-2" >
    <div id="_receiptPartial">
        <partial  name="_receiptPartial" model="Model"></partial>

    </div>
    <form onsubmit="Send(event)" class="row box-content mt-2 " dir="rtl">
        <input type="submit" class="btn btn-success col-2 ms-2" value="حفظ بدون ارسال" />
        <input type="submit" class="btn btn-primary col-2" value="ارسال" />

    </form>
</div>








@section Scripts {
    

    <script src="~/js/Receipts/Classes.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="~/js/Receipts/Select2.js">
    </script> 

    <script src="~/js/Receipts/AJAX.js">
    </script>

    

    <script src="~/js/receipts/pageNew.js">
    </script>

    <script src="~/js/Receipts/handle_item.js"></script>
    <script src="~/js/Receipts/handle_receipt.js"></script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}
