@using Interface.ViewModels
@model LoginVM

@{
   
    Layout = "_LayoutAccount";
}

<link rel="stylesheet" href="~/css/pages/login.css">

<form  asp-controller="Account" method="post">
    <div class="group">
        <input type="email" asp-for="Email" placeholder="البريد الالكتروني">
        <span asp-validation-for="Email" class="error"></span>
    </div>
    <div class="group">
        <input type="password" asp-for="Password" placeholder="كلمة السر">
        <span asp-validation-for="Password" class="error"></span>
    </div>
    <div class="">
        <input asp-for=RememberMe type="checkbox">
        <span>تذكرني</span>
    </div>
    <div class="group">
        <input type="submit" asp-action="Login" class="btn-primary" value="تسجيل دخول">
    </div>
    <div asp-validation-summary="ModelOnly" class="error"></div>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
