@using Interface.ViewModels
@model RegisterVM
@{
    Layout = "_LayoutAccount";
}


<div class="container-sm">
    <form class="box-content" asp-action="Register" asp-controller="Account" method="post" dir="rtl">
        <h3 class="text-center text-primary">
            <i class="fa-solid fa-door-open"></i>
            تسجيل جديد ..</h3>
        <hr />
        <div class="form-group mt-2">
            <input class="form-control" type="text" asp-for=Username placeholder="اسم المستخدم">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <input class="form-control" type="email" asp-for="Email" placeholder="البريد الالكتروني">
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="form-group mt-2">
            <input class="form-control" type="password" asp-for="Password" placeholder="كلمة السر">
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
        <div class="form-group mt-2">
            <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="تأكيد كلمة السر">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        </div>
        <div class="mt-2">
            <a  asp-controller="Account" asp-action="Login">تسجيل الدخول</a>
        </div>

        <div class="form-group mt-2">
            <input class="form-control btn btn-success" type="submit" value="تسيجل">
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
