@using Interface.ViewModels
@model RegisterVM
<link rel="stylesheet" href="~/css/main.css" />
<div class="handle_form">
    <form method="post" asp-controller="Account" asp-action="Register">
        <input type="text" asp-for="@Model.Username" placeholder="Username" />
        <input type="email" asp-for="@Model.Email" placeholder="Email Address" />
        <input type="password" asp-for="@Model.Password" placeholder="Password" />
        <input type="password" asp-for="@Model.ConfirmPassword" placeholder="Password" />
        <input type="submit" value="Sign up" />

    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
