@model TaxpayerProfileVM


<form 
    asp-controller="Account" 
    asp-action="TaxpayerProfile" 
    onsubmit="SweetAlert.confirm(event, 'تأكيد التعديل' , 'هل أنت متأكد أنك تريد تعديل البيانات؟','warning')" 
    class="d-flex flex-column gap-4" 
    dir="rtl">

    <div class="box">
        <div class="box-header d-flex justify-content-between">
            <h3 class="text-end">بيانات عامة</h3>
        </div>
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-5">
            <div class="form-group">
                <label>الاسم</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label>رقم التسجيل</label>
                <input type="number" asp-for="RegistrationNumber" class="form-control" />
                <span class="text-danger" asp-validation-for="RegistrationNumber"></span>
            </div>
            <div class="form-group">
                <label>كود النشاط</label>
                <input type="number" asp-for="ActivityCodes" class="form-control" />
                <span class="text-danger" asp-validation-for="ActivityCodes"></span>
            </div>
            <div class="form-group">
                <label>الايميل</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label>رقم التليفون</label>
                <input type="text" asp-for="Mobile" class="form-control" />
                <span class="text-danger" asp-validation-for="Mobile"></span>
            </div>

        </div>
    </div>
    <div class="box">
        <div class="box-header d-flex justify-content-between">
            <h3 class=" text-end">عنوان الفرع</h3>
        </div>
        <div class=" row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <div class="form-group">
                <label>كود الفرع</label>
                <input type="text" asp-for="BranchCode" class="form-control" />
                <span class="text-danger" asp-validation-for="BranchCode"></span>
            </div>
            <div class="form-group">
                <label>الدولة</label>
                <select asp-for="BranchAddress.Country" class="form-control">
                    <option value="0">-- اختيار بلد --</option>
                    <option value="EG">مصر</option>
                </select>
                <span class="text-danger" asp-validation-for="BranchAddress.Country"></span>
            </div>
            <div class="form-group">
                <label>المحافظة</label>
                <select asp-for="BranchAddress.Governate" class="form-control">
                    <option value="0">-- اختيار محافظة --</option>
                    <option value="Algeza">الجيزة</option>
                </select>
                <span class="text-danger" asp-validation-for="BranchAddress.Governate"></span>
            </div>
            <div class="form-group">
                <label>المدينة</label>
                <select asp-for="BranchAddress.RegionCity" class="form-control">
                    <option value="0">-- اختيار مدينة --</option>
                    <option value="Imbaba">امبابة</option>
                </select>
                <span class="text-danger" asp-validation-for="BranchAddress.RegionCity"></span>
            </div>
            <div class="form-group">
                <label>شارع</label>
                <input type="text" asp-for="BranchAddress.Street" class="form-control" />
                <span class="text-danger" asp-validation-for="BranchAddress.Street"></span>
            </div>
            <div class="form-group">
                <label>رقم المبني</label>
                <input type="text" asp-for="BranchAddress.BuildingNumber" class="form-control" />
                <span class="text-danger" asp-validation-for="BranchAddress.BuildingNumber"></span>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header d-flex justify-content-between">
            <h3 class="text-end ">نقطة البيع</h3>
        </div>
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <div class="form-group">
                <label>الرقم التسلسلي</label>
                <input type="text" asp-for="POSSerial" class="form-control" />
                <span class="text-danger" asp-validation-for="POSSerial"></span>
            </div>
            <div class="form-group">
                <label>هوية العميل</label>
                <input type="text" asp-for="POSClientId" class="form-control" />
                <span class="text-danger" asp-validation-for="POSClientId"></span>
            </div>
            <div class="form-group">
                <label>مفتاح سري</label>
                <input type="text" asp-for="POSClientSecret" class="form-control" />
                <span class="text-danger" asp-validation-for="POSClientSecret"></span>
            </div>
        </div>
    </div>
    <input type="submit"  class="btn btn-success align-self-end" value="حفظ" />
</form>




@section Scripts{
    <script src="~/js/TaxpayerProfile.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

