main {
    
    & .container{
        

        & .main-content{
            width: 100%;
            height: fit-content;
            

            & .btn-operation{
                display: flex;
                justify-content: right;
                margin-bottom : 1.2rem;
                padding: 1rem;
                gap: 1.2rem;

            }
            
            & .box-content{
                & .inside-box{
                    margin-bottom: 1.2rem;
                    padding: 1.2rem;
                    & .input-fields{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1.2rem;
                        
                        & .group-content{
                            & input,textarea,select{
                                width: 100%;
                                border: 1px solid var(--main-color);
                                height: 2rem;
                            }
        
                        }
                    }

                    & .operation{
                        display: flex;
                        justify-content: right;
                        margin-block: 1.2rem;
                    }
                }
                
            }
            
        }
    }

}