main {
    
    & .container{
        display: flex;
        gap: 2rem;
        
        & .slider{
            width: 20rem;
            overflow: hidden;
            height: fit-content;
            

            & li{
                color: var(--main-color);
                line-height: 2rem;
                padding: 1rem;
                transition: 0.2s;
                & i{
                    padding-inline: 1rem;
                }
            }

            & li:hover,
            & .active
            {
                color: white;
                background-color: var(--main-color);
            }
            
        }

        
    }

}