main{
    
    & .main-content
    {
        
        & section{
            display: flex;
            align-items: center;
            
            & .img-box{
            
                width: 45vw;
                display: flex;
                justify-content: center;
                & img{
                    width: 30rem;
                }
            }
        
            & .input-field{
                padding: 1.2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                gap: 1rem;
                & form{
                    width: 80%;
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                }
            }
        }
    }

}