.sidebar {
    background-color: white;
    padding: 1.2rem;
    min-width: 20rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar li ul {
    padding-right: 3rem;
}

.sidebar li a {
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 1.5rem;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar li a i {
    margin-left: 1.2rem;
}

.sidebar li a:hover {
    background-color: var(--hover-color);
    color: white;
}

.sidebar li .active {
    background-color: var(--blue-color);
    color: white;
}
