<link rel="stylesheet" href="~/css/afterUserLogin/slider.css">
<link rel="stylesheet" href="~/css/afterUserLogin/dashboard.css">

<div class="container">
    <section class="slider box-content">
        <ul>
            <a asp-action="index" asp-controller="recdash">
            <li class="active">
                <i class="fa-solid fa-gauge"></i>
                Dashboard
            </li>
            </a>
            <a asp-action="index" asp-controller="recproduct">
            <li>
                <i class="fa-solid fa-truck-ramp-box"></i>
                Products
            </li></a>
        </ul>
    </section>
    <section class="main-content box-content">
    </section>


</div>