header{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    height: 4rem;
    box-shadow: -1px -5px 20px 4px #000000;
    & .img-box{
        padding-inline: 1rem;
        padding-block: 0.5rem;
    }
}