:root{
    --main-color : #3676ff;
    --body-color:rgb(214, 214, 214);
    --footer-color:black;
    --header-color:white;
    --box-color:white;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;


    
}

body{
    background-color: var(--body-color);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    
}

.container{
    width: 95%;
    margin-inline: auto;
}


.border{
    border:5px solid red ;
}

.box-content{
    background-color: var(--box-color);
    border-radius: 5px;
    box-shadow: 6px 8px 5px #979595;
    margin-bottom: 1.2rem;
}


input,textarea,select{
    line-height: 1.5rem;
    padding: 0.3rem;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    font-size: 15px;
}

.table{
        border-spacing: 0;
        border: 2px solid var(--main-color);
        text-align: center;
        width: 100%;
        line-height: 3rem;
        margin-bottom: 1.2rem;
        & thead{
            background-color: var(--main-color);
            color: white;

        }
        & tbody{
            & tr:hover{
                background-color: var(--body-color);
            }

            & tr{
                & td{
                    max-width: 100px;
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    
                }
                
            }
        }
        
}

.group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.group-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
button {
    padding: 0.5rem;
    background-color: var(--main-color);
    color: white;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}



/* تعديلات CSS */
.select2-container {
    width:100% !important;
}

.select2-container .select2-selection--single {
    
    height: 40px !important;
    line-height: 1.5rem !important;
    background-color: #f8f9fa !important;
    border: 1px solid var(--main-color) !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    color: #333 !important;
}
.select2-selection.select2-selection--single{
    display: flex !important;
    align-items: center !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    
    color: #007bff !important;
}

.select2-container .select2-dropdown {
    border: 1px solid #ced4da !important;
    border-radius: 4px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    max-height: 200px !important;
    overflow-y: auto !important;
}

.select2-container .select2-results__option {
    padding: 8px 12px !important;
    font-size: 14px !important;
}

.select2-container .select2-results__option--highlighted {
    background-color: #007bff !important;
    color: #fff !important;
}