@using Entities.Models
@model ProductVM
<div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1" dir="rtl">
    <div class="form-group mb-2">
        <label>الكود الداخلي</label>
        <input type="text"
               asp-for="InternalId"
               class="form-control  "
               placeholder="الكود الداخلي">
        <span asp-validation-for="InternalId" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label>اسم السلعة او الخدمة</label>
        <input type="text" asp-for="Name" class="form-control  " placeholder="اسم السلعة او الخدمة">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group mb-2">
        <label>سعر الوحدة</label>
        <input type="number" asp-for="UnitPrice" class="form-control   " placeholder="سعر الوحدة">
        <span asp-validation-for="UnitPrice" class="text-danger"></span>

    </div>
    <div class="form-group mb-2">
        <label>نوع الوحدة</label>
        <select asp-for="UnitType" class="form-select   ">
            <option value="EA">EA</option>
        </select>
        <span asp-validation-for="UnitType" class="text-danger"></span>

    </div>
    <div class="form-group mb-2">
        <label>كود عالمي</label>
        <input type="text" asp-for="Code" class="form-control   " placeholder="كود عالمي">
        <span asp-validation-for="Code" class="text-danger"></span>

    </div>
    <div class="form-group mb-2">
        <label>نوع الكود العالمي</label>
        <select asp-for="CodeType" class="form-select   ">
            <option value="EGS">EGS</option>
            <option value="GS1">GS1</option>
        </select>
        <span asp-validation-for="CodeType" class="text-danger"></span>

    </div>

</div>
<div class="form-group mb-2" dir="rtl">
    <label>وصف السلعة او الخدمة</label>
    <textarea class="form-control   " asp-for="Description" placeholder="وصف السلعة او الخدمة"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
