


<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />

<div class="container">
    <h3>Products</h3>
    <hr />
    <table id="Products" class="table table-striped table-bordered dt-responsive nowrap box-content">

        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Discription</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>
</div>




@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>

    <script src="~/js/JQueryDataTable.js"></script>


    
    
}