@using Interface.ViewModels
@model ProductVM

<div class="col-10">
    <form class="row  box-content" asp-action="Edit" asp-controller="products" method="post">
        <partial name="_inputPartial" model="Model"></partial>
        <div class="row g-1">
            <input type="submit" class="btn btn-primary col-1" value="Update">
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
