@using Interface.ViewModels
@model ProductVM

<link rel="stylesheet" href="~/css/afterUserLogin/slider.css">
<link rel="stylesheet" href="~/css/afterUserLogin/products.css">


<div class="container">
    
    <partial name="_sliderPartial"></partial>
    <section class="main-content ">
        <div class="box-content btn-operation">
            <form asp-controller="Products">
                <button>Insert From EXCEL</button>
                <button type="submit" asp-action="DeleteAll">Delete All</button>
            </form>
        </div>
        <div class="box-content">
            <div class="inside-box">
                <form asp-action="add" asp-controller="Products">
                    <div class=" input-fields">
                        <div class="group-content">
                            <label for="">Internal Id</label>
                            <input asp-for="InternalId" >
                            <span asp-validation-for="InternalId" style="color:red;margin-bottom:0.2rem"></span>
                        </div>
                        <div class="group-content">
                            <label for="">Name</label>
                            <input asp-for="Name">
                            <span asp-validation-for="Name" style="color:red;margin-bottom:0.2rem"></span>
                        </div>

                        <div class="group-content">
                            <label for="">Unit Price</label>
                            <input type="number" asp-for="UnitPrice">
                            <span asp-validation-for="UnitPrice" style="color:red;margin-bottom:0.2rem"></span>
                        </div>
                        <div class="group-content">
                            <label for="">Unit Type</label>
                            <select name="unittype" id="">
                                <option value="EA">EA</option>
                            </select>
                        </div>
                        <div class="group-content">
                            <label for="">Code</label>
                            <input asp-for="Code">
                            <span asp-validation-for="Code" style="color:red;margin-bottom:0.2rem"></span>
                        </div>
                        <div class="group-content">
                            <label for="">Code Type</label>
                            <select name="codetype" id="">
                                <option value="EGS">EGS</option>
                                <OPTION value="GS1">GS1</OPTION>
                            </select>
                        </div>

                    </div>
                    <div class="group-content">
                        <label for="">Description</label>
                        <textarea asp-for="Description"></textarea>
                        <span asp-validation-for="Description" style="color:red;margin-bottom:0.2rem"></span>
                    </div>
                    <div class="operation">
                        <button type="submit">Add Product</button>
                    </div>
                </form>
                
            </div>

        </div>

        <div class="box-content">
            <div class="search-box">
                <input type="search" id="txt-search" onchange="getProduct(event)" placeholder="Type to Search for Product..." />
                <i class="fa-solid fa-magnifying-glass"></i>

            </div>

            <partial name="_tablePartial"></partial>



        </div>

    </section>
</div>
        


@section Scripts {

    <script>
        
        document.querySelector(".slider").childNodes[1].childNodes[5].childNodes[1].classList.add("active");
    </script>

    <script src="~/js/productSearchAjax.js">
        
    </script>



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
